@model IEnumerable<LoginRegistroProjeto.Models.Entidades.MinhaAgenda>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <br /><br />
    <p class="col-11"></p>
    
        <h2>
            <a asp-action="CriarEventoPessoal">Novo Evento</a>
        </h2>

        <h2 class="pl-sm-5">
            <a class="text-center" href="~/">Voltar</a>
        </h2>
    
</div>
<table class="table table-hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DadosUsuario.nome)

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEvento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => User.Identity.Name)

                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }


    </tbody>
</table>
