@model IEnumerable<Agenda.Models.Entidades.Agendas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    @if (item.tipo == "1")
                    {
                        <h4>Exclusivo</h4>
                    }
                    else if (item.tipo == "2")
                    { 

                        <h4>Compartilhado</h4>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id  /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id/* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
